.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 64px;
  top: 260px;
}
.fon {
  background-image: url('../../assets/img/PictureHero_1x.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.title {
  color: var(--inputs);
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.67;
  margin-bottom: 16px;
}
.text {
  color: var(--inputs);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}
.button {
  display: flex;
  width: 173px;
  padding: 16px 49px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background-color: var(--button);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  margin-top: 40px;
  transition: background-color 0.3s;
}

.button:focus,
.button:hover {
  background-color: var(--button-hover);
}
